.section {
  text-align: center;
  padding: 50px 0 0 0;

  h1 {
    font-size: 48px;
    color: #000;
    margin: 0;
    padding: 0;

    @include mobile {
      font-size: 34px;
    }
  }

  h2 {
    font-size: 34px;
    color: #000;
    margin: 0;
    padding: 0;

    @include mobile {
      font-size: 28px;
    }
  }

  &.active {
    img {
      opacity: 1;
    }
  }
}

.section,
.slide {
  position: relative;
  //background-size: 75%;
  //background-repeat: no-repeat;
  //background-position: center center;
  //
  //@include mobile {
  //  background-size: contain;
  //}

  img {
    opacity: 0;
    transition: opacity 1s ease-in;
    position: absolute;
    width: 70vw;
    max-width: 1200px;
    @extend .align-both;

    @include mobile {
      width: 100%;
    }
  }
}


//#section0{
//  background-image: url('#{$root-asset-path}/bg1.jpg');
//}
//#section2{
//  background-image: url('#{$root-asset-path}/bg2.jpg');
//}
//#section3{
//  background-image: url('#{$root-asset-path}/bg3.jpg');
//}
//
//
///*slides
//* --------------------------------------- */
//#slide1{
//  background-image: url('#{$root-asset-path}/bg4.jpg');
//}
//#slide2{
//  background-image: url('#{$root-asset-path}/bg5.jpg');
//}
//#slide3{
//  background-image: url('#{$root-asset-path}/bg6.jpg');
//}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* Custom Overrides
* --------------------------------------- */
.fp-controlArrow {
  border-color: transparent !important;
  border-width: 0 !important;

  @include mobile {
    border-width: 0 !important;
    top: auto !important;
    bottom: 20%;
    margin-top: 0;
  }

  span {
    font-size: 40px;
  }
}

.fp-controlArrow.fp-next {
  right: 100px !important;
}

.fp-controlArrow.fp-prev {
  left: 50px !important;
}

#fp-nav {
  top: 0 !important;
  margin-top: 0 !important;
  height: 100%;
}

#fp-nav ul {
  display: none;
}

#fp-nav span.prev,
#fp-nav span.next {
  position: absolute;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  left: -20px;
}

#fp-nav span.prev {
  top: 0;
}

#fp-nav span.next {
  bottom: 10px;
}

#fp-nav span.inactive {
  cursor: default;
  opacity: 0;
}